.projects{
    margin: 1rem 0;
}

.projects h2, .projects h4{
    margin-bottom: 2rem;
}

.projects h4{
    margin: 2rem 0;
}

.important-projects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.other-projects{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media(min-width:768px){
    .other-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 4rem;
        max-width: 900px;
        margin: 0 auto;
    }

    .projects-padding{
        max-width: 250px;
    }

    .projects h4{
        text-align: center;
    }

    .projects h2{
        text-align: center;
    }
}