.about{
    margin: 2rem 0;
}

.about-me{
    line-height: 1.5rem;
    margin: 1rem 0;
}

.info{
    display: grid;
    grid-template-rows: auto auto;
    gap: 2rem;
}

.info-skills-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-information span{
    line-height: 1.5rem;
}

.contact-information a{
    text-decoration: none;
    font-weight: 800;
    color: aliceblue;
}

@media (min-width:768px){
    .about h2{
        text-align: center;
    }

    .info{
        display: grid;
        grid-template-columns: auto auto;
        padding: 1rem;
    }

    .info h3{
        text-align: center;
    }

    .info-skills-container{
        justify-content: center;
    }

    .about{
        max-width: 900px;
        margin: 3rem auto;
    }
}