.button-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 5px;
    font-weight: 800;
    transition: transform 0.3s ease;
}

.button-link:hover{
    transform: scale(1.1);
}

.clean{
    border: 2px solid #fff;
    color: aliceblue;
}

.not-clean{
    color: #001100;
    background-color: rgb(244, 244, 244);
}