*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:target {
  scroll-margin-top: 68px; /* Adjust the offset value */
}

html{
  position: relative;
  background-image: url('/hollowed-boxes.svg');
  background-size: 4em 4em;
  background-color: #001100;
  opacity: 1;
  scroll-behavior: smooth;
}

svg{
  fill: aliceblue;
}

html::before{
  position: absolute;
  content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* adjust opacity */
    z-index: -1;
}

body{
  font-family: "Inter", sans-serif;
  color: aliceblue;
  margin: 0 auto;
}

.app-container{
  width: 90%;
  margin: 0 auto;
}

